.main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftSide {
  min-width: 128px;
  /* width: 100% ; */
  flex: 1 1 0%;
  height: 26px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: flex-end;
  background-color: inherit;
}

.logoWrapper {
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 23px;
  width: 23px;
  object-fit: cover;
  border-radius: 50%;
}

.center {
  max-width: 500px;
  min-width: 0px;
  flex: 1 2 0%;
  height: 24px;
  background-color: inherit;
}

.searchButton {
  width: 500px;
  min-width: 0px;
  height: 24px;
  background-color: rgb(73, 37, 74);
  display: flex;
  justify-content: flex-start;
  border-style: none;
  border: solid 1px rgb(188,171,188);
  color: rgb(188,171,188);
  border-radius: 5px;
  padding-left: 8px;
}

.searchButton:hover {
  border: solid 1px rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
.span {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: inherit;
}

.rightSide {
  min-width: 128px;
  /* width: 100%; */
  flex: 1 1 0%;
  height: 26px;
  background-color: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 58px;
  padding-right: 16px;
}

.userPic {
  height: 28px;
  width: 28px;
}

.img {
  height: 28px;
  width: 28px;
  border-radius: 5px;
  object-fit: cover;
}

.modalButton {
  background-color: inherit;
  border-style: none;
  height: inherit;
  width: inherit;
  padding: 0;
  margin: 0;
}
