.message_wrapper,
.edit_wrapper {
    padding: 8px 20px;
}

.edit_wrapper {
    background-color: #fcf4da;
    box-sizing: border-box;
}

.message_wrapper:hover {
    background-color: rgba(248, 249, 248, 240);
    position: relative;
}

.message_wrapper:hover .menuWrapper {
    width: 172px;
    height: 40px;
    position: absolute;
    left: 85%;
    top: -10px;
    display: flex;
    align-items: center;
    border: 2px solid rgba(29, 28, 29, .1);
    border-radius: 5px;
    background-color: #fff;
}

.message_container {
    display: flex;
    flex-direction: row;
}

.author_image {
    margin-right:12px;
}

.author_avatar {
    height: 36px;
    width: 36px;
    object-fit: cover;
    border-radius: 4px;
}

.author_name {
    font-weight: 900;
    font-size: 15px;
    color: rgba(29,28,29, 1);
    padding-right: 5px;
}

.text_container {
    flex: 1 1 0;
    min-width: 0;
    padding: 8px;
    padding-left: 16px;
    margin: -12px -8px -16px -16px;
}

.message_timestamp {
    margin-left: 5px;
    font-size: 12px;
    color: rgba(97, 96, 97, 1);
    font-weight: 400;
}

.message_body {
    font-size: 15px;
    overflow: hidden;
    margin-top: 8px;
}
.message_body_text {
    word-wrap: break-word;
}

.menuWrapper {
    display: none;
}

.richText {
    margin: 0px;
}

.richText p {
    margin: 0px;
    height: 22px;
}

.emoji, .edit {
    margin: 4px;
    padding: 2px;
    border-radius: 4px;
    background-color: #fff;
    border: none;
    color: rgba(29, 28, 29, .4);
    cursor: pointer;
}

.emoji:hover, .edit:hover {
    background-color: rgba(248, 249, 248, 240);
    color: rgba(29, 28, 29, .7);
}

.wrapperClass {
    display: flex;
    flex-direction: column-reverse;
    background-color: #FFF;
    border: 1px solid rgb(134, 134, 134);
    /* border-left: 1px solid black;
    border-bottom: 1px solid black; */
    border-radius: 4px;
}



.editorClassName {
    background-color: #FFF;
}

.toolbarClass {
    background-color: whitesmoke;
    margin-bottom: 0;
}

.save {
    background-color: #007a5a;
    font-weight: 900;
    height: 28px;
    min-width: 56px;
    font-size: 13px;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    color: #fff;
    border: none;
    padding: 0 .5rem 0 .5rem;
    border-radius: 4px;
    cursor: pointer;
}

.save:hover {
    background-color: #148567;
    box-shadow: 0 1px 4px rgba(0, 0 , 0, .3);
}

.arrow {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    display: inline-block;
    font-weight: 400;
    margin-right: .5rem;
}

.cancel {
    font-weight: 700;
    height: 28px;
    min-width: 56px;
    font-size: 13px;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    color: rgba(29, 28, 29, .8);
    border: 1px solid rgba(29, 28, 29, .3);
    padding: 0 .5rem 0 .5rem;
    border-radius: 4px;
    cursor: pointer;
}
