.mainWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messageWrapper {
    display:flex;
    flex-direction:column-reverse;
    overflow: hidden;
    overflow-y: auto;
    height: 87%;
}

.messageWrapper::-webkit-scrollbar-track {
    background: red;
}

.sendMessageBar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid gray 1px;
    font-weight: 400;
    margin: 15px;
    height: 150px;
}

.writeTextBox {
    align-self: stretch;
    display: flex;
    flex: 1;
    min-width: 0;
    border: none;
    resize: none;
}
.textEditorDiv {
    background-color: #FFFFFF;
    display: flex;
    width: 89%;
    min-height: 150px;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
}



.wrapperClass {
    display: flex;
    flex-direction: column-reverse;
    background-color: #FFF;
    border: 1px solid black;
    /* border-left: 1px solid black;
    border-bottom: 1px solid black; */
    border-radius: 4px;
}


.editorClassName {
    background-color: #FFF;
}
.toolbarClass {
    background-color: whitesmoke;
    margin-bottom: 0;
}

.sendMessageButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 32px;
    width: 37px;
    background-color: #007A5A;
    margin-right: 10px;
}

.sendMessageButton i {
    color: #fff;
}


.sendMessageButton:disabled {
    background-color: white;
    margin-right: 10px;
}

.sendMessageButton:disabled i {
    color: rgba(16, 16, 16, 0.3);
}

.flexWrapper {
    height: 100%;
    position: fixed;
    width: 94%;
    top: 87%;
    z-index: 50;
    align-items: flex-start;
    margin-right: 16px;
}

.flexrow {
    display: flex;
    background-color: #fff;
    margin-right: 16px;
}

.fakeInputDiv {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: transparent;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 0px 4px 4px 0px;
    position: fixed;
    width: 10%;
    right: 2%;
    top: 87%;
    z-index: 55;
}

.emptyDiv {
    background-color: #FFF;
    height: 50px;
    border-top-right-radius: 4px;
}

.buttonCenter {
    display: flex;
    height: 46px;
    width: 46px;
    background-color: transparent;
    align-items: flex-end;
    justify-content: flex-end;
    border-bottom-right-radius: 4px;
    margin-bottom: 6px;
    /* position: relative;
    z-index: 55; */
}
