.mainWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messageWrapper {
    display:flex;
    flex-direction:column-reverse;
    /* height:250px; */
    overflow: hidden;
    overflow-y: scroll;
    height: 500px;
}

.sendMessageBar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid gray 1px;
    font-weight: 400;
    margin: 15px;
    height: 150px;
}

.writeTextBox {
    align-self: stretch;
    display: flex;
    flex: 1;
    min-width: 0;
    border: none;
    resize: none;
}
.textEditorDiv {
    background-color: #FFFFFF;
    display: flex;
    width: 90%;
    min-height: 150px;
    flex-direction: column;
}



.wrapperClass {
    display: flex;
    flex-direction: column-reverse;
    background-color: #FFF;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 4px 0px 0px 4px;
    /* height: 96px; */
}


.editorClassName {
    background-color: #FFF;
}
.toolbarClass {
    background-color: whitesmoke;
    margin-bottom: 0;
}

.sendMessageButton {
    justify-content: flex-start;
    border: none;
    height: 32px;
    width: 32px;
    background-color: #007A5A;
    border-radius: 4px 4px 4px 4px;
    margin-right: 10px;
}


.sendMessageButton:disabled {
    background-color: white;
    margin-right: 10px;
    border-radius: 4px 4px 4px 4px;
}

.flexWrapper {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.flexrow {
    display: flex;
    justify-content: flex-start;
}

.fakeInputDiv {
    display: flex;
    height: 104px;
    flex-direction: column;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px 4px 4px 0px;
}

.emptyDiv {
    background-color: #FFF;
    height: 58px;
    border-top-right-radius: 4px;
}

.buttonCenter {
    display: flex;
    height: 46px;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 4px;
}

/* super hacky way to style the toolbar without having it look bad when adding emojis was done in 
index.css on the top level with the className of .GlobalChat_wrapperClass__2BITn .rdw-editor-main -Sean */